* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #fffdd0;
}

nav.navbar{
	background-color: #C0C0C0;
}

#navbar a.navbar-brand {
  color: black;
  margin-left: 50px;
  margin-right: 10px;
}

#cuencoNav a {
	color: black;
}

#banner img.img-fluid {
	height: 400px;
	width: 100%;
	object-fit: cover;
	position: absolute;
}

#greetings {
	color: white;
}

#greetings h5{
	font-size: 50px;
}

#greetings p{
	font-size: 25px;
}

#greetings a.btn, #process div.card{
	color: white;
}

#footer {
	background-color: #C0C0C0;
	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
}