* {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #fffdd0;
}

nav.navbar{
	background-color: #C0C0C0;
}

#navbar a.navbar-brand {
  color: black;
  margin-left: 50px;
  margin-right: 10px;
}

#cuencoNav a {
	color: black;
}

#footer {
	background-color: #C0C0C0;
	position: fixed;
   	left: 0;
   	bottom: 0;
   	width: 100%;
}