<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title">${data.name}</h5>
    <div class="card-center">${data.email}</div>
    <div class="card-center">${data.mobileNo}</div>
  </div>
</div>